/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.logo {
  text-align: left;
}

.toolbar ul {
  list-style: none;
  display: flex;
}

.toolbar li {
  margin-right: 20px;
}

.toolbar a {
  text-decoration: none;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav.breadcrumbs {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
}
nav.breadcrumbs a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}
nav.breadcrumbs a:hover {
  text-decoration: underline;
}
.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.project-item {
  text-align: center;
}

.project-item img {
  max-width: 100%;
}

.project-item h3 {
  margin-top: 10px;
}
.about-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}
.about-item {
  text-align: left;
  font-size: 30px;
}
.about-photo {
  text-align: right;
}
#portfolio {
  background-color: #f3f3f3;
  padding: 40px;
}

#about-moshe {
  background-color: #e6f7ff;
  padding: 40px;
}

#contact {
  background-color: #fff4e6;
  padding: 40px;
}
.image-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.image-container p {
  margin-left: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  width: 100%;
}
.text {
  margin: 20px;
  width: 32%;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Add additional styling for portfolio gallery and contact information */

/* For responsiveness, you can use media queries and adjust the layout for different screen sizes */
